{% extends 'layout.html' %}
{% block body %}
            <section class="page-title-area">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title text-center">
                                <h1>Contact Us</h1>
                            </div>
                            <div class="breadcrumbs-area  text-center">
                                <ol class="breadcrumbs">
                                    <li><a href="#">Home</a></li>
                                    <li class="active">Contact Us</li>
                                </ol>
                            </div>
                            <div class="back-home">
                                <a href="index.html"><i class="fa fa-arrow-left" aria-hidden="true"></i> BACK TO HOME</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End page title -->
            <!-- Start keep in touch area -->
            <section class="keep-in-touch-area pt-90 pb-90">
                <div class="container">
                    <div class="row">
                        <!-- Start section title -->
                        <div class="col-sm-12">
                            <div class="section-title text-center">
                                <h2>STAY <span>CONNECTED</span></h2>
                                <img src="img/title-bottom.png" alt="">
                                <p>We as a team created a very helpful system for colleges, schools, tuition classes etc. <br>One step towards DIGITAL INDIA</p>
                            </div>
                        </div>
                        <!-- End section title -->
                    </div>
                    <div class="row keep-in-touch-therd-box">
						<!-- Start single box -->
                        <div class="col-sm-4">
                            <div class="single-box text-center">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                <h3>EMAIL US</h3>
                                <p>ask@facerecognition.com </p>
                            </div>
                        </div>
                        <!-- End single box -->
						<!-- Start single box -->
                        <div class="col-sm-4">
                            <div class="single-box text-center">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <h3>CALL US</h3>
                                <p>+(00) 1234-5678<br>+(00) 1234-7782</p>
                            </div>
                        </div>
                        <!-- End single box -->
                        <!-- Start single box -->
                        <div class="col-sm-4">
                            <div class="single-box text-center">
                                <i class="fa fa-map" aria-hidden="true"></i>
                                <h3>ADDRESS</h3>
                                <p> D block VGEC <br>Chandkheda,<br>Ahmedabad </p>
                            </div>
                        </div>
                        <!-- End single box -->
                    </div>
                </div>
            </section>
            <!-- End keep in touch area -->
            <!--&lt;!&ndash; Start contact form area &ndash;&gt;
            <section class="contact-form-area pb-60 pt-90">
                <div class="container">
                    <div class="row">
                        &lt;!&ndash; Start section title &ndash;&gt;
                        <div class="col-sm-12">
                            <div class="section-title text-center">
                                <h2>Share your <span>thoughts</span></h2>
                                <img src="img/title-bottom.png" alt="">
                            </div>
                        </div>
                        &lt;!&ndash; End section title &ndash;&gt;
                        <div class="col-sm-12">
                            <div class="contact-form">
                                <form id="contact-form" method="POST" action="https://demo.hasthemes.com/grant-foundation-preview/grant-foundation/mail.php">
                                    <div class="form-fields">
                                        <label for="name">Name</label>
                                        <input id="name" name="name" type="text" placeholder="Your Name" required>
                                    </div>
                                    <div class="form-fields">
                                        <label for="email">Email</label>
                                        <input id="email" name="email" type="text" placeholder="Your Email" required>
                                    </div>
                                    <div class="form-fields last">
                                        <label for="phone">Phone</label>
                                        <input id="phone" name="phone" type="text" placeholder="Your Phone" required>
                                    </div>
                                    <div class="message-fields">
                                        <label for="mess">Message</label>
                                        <textarea name="mess" id="mess" cols="30" rows="10" placeholder="Message"></textarea>
                                    </div>
                                    <div class="form-button">
                                        <button type="submit">Send your message</button>
                                        <button type="reset">Reset</button>
                                    </div>
                                </form>
                                <p class="form-messege"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>-->
            <!-- End contact form area -->
            <!-- Start google map -->
            
            <!-- End google map -->
            
            <!-- End brand logo area -->
{% endblock body %}