<!DOCTYPE html>
<html lang="en">

<head>

    <!-- End Google Tag Manager -->
    <title>Forget password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/flaticon/font/flaticon.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="assets/css/skins/default.css">

</head>
<body id="top" style="overflow:hidden;">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src=""
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="page_loader"></div>

<!-- Login 12 start -->
<div class="login-12">
    <div class="container-fluid bg-color-13">
        <div class="col-12 bg-color-13">
            <div class="form-section">
                <div class="logo clearfix">
                    <a>
                        <h2 style="color: #5ed5c2;">Face recognition attendance system</h2>
                    </a>
                </div>
                <h3>Recover your password</h3>
                <div class="login-inner-form">
                    <form action="#" method="GET">
                        <div class="form-group form-box">
                            <input type="email" name="email" class="input-text" placeholder="Email Address">
                            <i class="flaticon-mail-2"></i>
                        </div>
                        <div class="form-group mb-0">
                            <button type="submit" class="btn-md btn-theme btn-block">Send Me Email</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- External JS libraries -->
<script src="assets/js/jquery-2.2.0.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<!-- Custom JS Script -->
</body>
</html>