
{% extends "Admin/layout.html" %}

{% block body %}
<!-- Start slider area -->
        	<section class="slider-area">
        		<!-- start enable -->
				<div class="ma-banner7-container">
		        	<div class="container-slider">
			        	<div class="flexslider ma-nivoslider">
		        			<div class="ma-loading"></div>
							<div id="ma-inivoslider-banner7" class="slides">
                                <img style="display: none;" src="{{ url_for('static', filename = 'img/slider/face-slide-one.jpg') }}" alt="" title="#banner7-caption1" />
							<!--	<img style="display: none;" src="img/slider/slide-two.jpg" alt="" title="#banner7-caption2"  />
                                <img style="display: none;" src="img/slider/slide-one.jpg" alt="" title="#banner7-caption3"  />-->
							</div>
							<div id="banner7-caption1" class="banner7-caption nivo-html-caption nivo-caption">

								<div class="banner7-content slider-1">
									<h1 class="title1 wow slideInRight" data-wow-duration="1s" data-wow-delay="300ms">WELCOME TO SMART ATTENDANCE SYSTEM</h1>
									<p class="d-none d-md-block wow slideInRight" data-wow-duration="1s" data-wow-delay="600ms">We provide the Smart Attendance System for students and this system reduce the professor's work. So if you are new here and still didn't have the account then hit the Register button.</p>
									<div class="slider-button-area wow slideInRight" data-wow-duration="1s" data-wow-delay="900ms">
                                        <a href="/faculty-register" class="btn-lg">REGISTER YOURSELF</a>

									</div>
								</div>
							</div>

						</div>
		    		</div>
				</div>
		    	<!-- end enable -->
        	</section>
        	<!-- End slider area -->
            <!-- Start our couses area -->
        	   	<section class="our-couses-area pt-90 pb-90">
        		<div class="container">
        			<div class="row">
                        <!-- Start section title -->
        				<div class="col-sm-12">
        					<div class="section-title text-center">
        						<h2>HOW OUR <span>FACE RECOGNITION SYSTEM</span> WORKS</h2>
        						<img src="img/title-bottom.png" alt="">
        						<p>Steps you can follow to use this amazing system</p>
        					</div>
        				</div>
                        <!-- End section title -->
                    </div>
                    <div class="row couses">
                        <!-- Start single couses -->
                        <div class="col-md-4">
                            <div class="single-couses">
                                <div class="single-couses-image-text">
                                    <div class="couses-text text-center">
                                        <h4><strong>Step - 1</strong></h4>
                                        <h5 style="text-align: justify";>Register yourself and upload your proper images.</h5>
                                    </div>
                                </div>
                                <div class="couses-button-and-price">
                                   <!-- <div class="couses-button">
                                        <a href="donate.html" class="btn-md bo-ra-5">Donate</a>
                                    </div>
                                    <div class="couses-price">
                                        <h5>INR</h5>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <!-- End single couses -->
                        <!-- Start single couses -->
                        <div class="col-md-4">
                            <div class="single-couses">
                                <div class="single-couses-image-text">
                                    <div class="couses-text text-center">
                                        <h4><strong>Step - 2</strong></h4>
                                        <h5 style="text-align: justify;">Admin will validate your data and will update the face recognition model.</h5>
                                    </div>
                                </div>
                                <div class="couses-button-and-price">
                                  <!--  <div class="couses-button">
                                        <a href="donate.html" class="btn-md bo-ra-5">Donate</a>
                                    </div>
                                    <div class="couses-price">
                                        <h5>INR</h5>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <!-- End single couses -->
                        <!-- Start single couses -->
                        <div class="col-md-4">
                            <div class="single-couses">
                                <div class="single-couses-image-text">
                                    <div class="couses-text text-center">
                                        <h4><strong>Step - 3</strong></h4>
                                        <h5 style="text-align: justify;">When you get verified you are ready to use this system.</h5>
                                    </div>
                                </div>
                                <div class="couses-button-and-price">
                                   <!-- <div class="couses-button">
                                        <a href="donate.html" class="btn-md bo-ra-5">Donate</a>
                                    </div>
                                    <div class="couses-price">
                                        <h5>INR</h5>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <!-- End single couses -->
                    </div>
        		</div>
        	</section>
            <!-- End our couses area -->
            <!-- Start help us area -->
            <section class="help-us-area pt-80 pb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="section-title-style-two text-center">
                                <h2>MAIN FEATURES OF OUR SYSTEM</h2>
                                <p>SMART ATTENDANCE SYSTEM</p>
                            </div>
                        </div>
                    </div>
                    <div class="row help-us-content-area">
                        <!-- Start single help -->
                        <div class="col-md-4">
                            <div class="single-help">
                                <div class="help-icon">
                                    <i class="fa fa-briefcase" aria-hidden="true"></i>
                                </div>
                                <div class="help-text text-center">
                                    <h3>REDUCE WORK LOAD OF PROFESSORS</h3>
                                    <p style="text-align: justify;">This system mark the attendance with the help of registered student face so this system reduce the work of professors.</p>
                                   <!-- <a href="#" class="btn-sm bo-ra-3">Learn More</a>-->
                                </div>
                            </div>
                        </div>
                        <!-- End single help -->
						<!-- Start single help -->
                        <div class="col-md-4">
                            <div class="single-help">
                                <div class="help-icon">
                                    <i class="fa fa-file" aria-hidden="true"></i>
                                </div>
                                <div class="help-text text-center">
                                    <h3>EXPORT THE ATTENDANCE SHEET</h3>
                                    <p style="text-align: justify;">Any time professor can export the attendance sheet.</p>
                                   <!-- <a href="#" class="btn-sm bo-ra-3">Learn More</a>-->
                                </div>
                            </div>
                        </div>
                        <!-- End single help -->
						<!-- Start single help -->
                        <div class="col-md-4">
                            <div class="single-help">
                                <div class="help-icon">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </div>
                                <div class="help-text text-center">
                                    <h3>EASY TO TRACK RECORD OF ATTENDANCE</h3>
                                    <p style="text-align: justify;">In this system one can easly see the who has less attendance which is very good feature for any professors.</p>
                                   <!-- <a href="#" class="btn-sm bo-ra-3">Learn More</a>-->
                                </div>
                            </div>
                        </div>
                        <!-- End single help -->
                        <!-- Start single help -->
                        <div class="mx-auto">
                            <div class="single-help">
                                <div class="help-icon">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                                </div>
                                <div class="help-text text-center">
                                    <h3>MORE RELIABLE</h3>
                                    <p style="text-align: justify;">This system have high accuracy so that it is reliable system.</p>
                                   <!-- <a href="#" class="btn-sm bo-ra-3">Learn More</a>-->
                                </div>
                            </div>
                        </div>
                        <!-- End single help -->
                    </div>
                </div>
            </section>
            <!-- End help us area -->

			<!-- Start our gallery -->
<!--            <section class="our-gallery pt-90 pb-60">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        &lt;!&ndash; Start section title &ndash;&gt;-->
<!--                        <div class="col-sm-12">-->
<!--                            <div class="section-title text-center">-->
<!--                                <h2>SAMPLE <span>PHOTOS</span></h2>-->
<!--                                <img src="{{ url_for('static',filename='img/title-bottom.png') }}" alt="">-->
<!--                                <p>Here we have shown you some example photos.<br>You can get idea from this example photos.</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End section title &ndash;&gt;-->
<!--                        <div class="col-sm-12">-->
<!--                            <div class="gallery-menu text-center">-->
<!--                                <nav>-->
<!--                                    <ul>-->
<!--                                       <li class="filter"  data-filter="all">All</li>-->
<!--                                        <li class="filter"  data-filter="person1">Person 1</li>-->
<!--                                        <li class="filter"  data-filter="person2">Person 2</li>-->
<!--                                        <li class="filter"  data-filter="person3">Person 3</li>-->
<!--                                        <li class="filter"  data-filter="person4">Person 4</li>-->
<!--                                      &lt;!&ndash;  <li class="filter"  data-filter="Wildlife">Wildlife</li> &ndash;&gt;-->
<!--                                      &lt;!&ndash;  <li class="filter"  data-filter="Video">Video</li> &ndash;&gt;-->
<!--                                     &lt;!&ndash;   <li class="filter"  data-filter="Children">Children</li> &ndash;&gt;-->
<!--                                    </ul>-->
<!--                                </nav>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row" id="gallery-filter">-->
<!--                        &lt;!&ndash; Start single gallery &ndash;&gt;-->
<!--                        <div class="col-md-3 mb-30 single-gallery mix all person1">-->
<!--                            <div class="gallery-image-and-text">-->
<!--                                <img class="img-responsive" src="{{ url_for('static',filename='img/gallery/K1.jpeg') }}" alt="" />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End single gallery &ndash;&gt;-->
<!--                        &lt;!&ndash; Start single gallery &ndash;&gt;-->
<!--                        <div class="col-md-3 mb-30 single-gallery mix all person1">-->
<!--                            <div class="gallery-image-and-text">-->
<!--                                <img src="{{ url_for('static',filename='img/gallery/K2.jpg') }}" alt="" />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End single gallery &ndash;&gt;-->

<!--                        &lt;!&ndash; Start single gallery &ndash;&gt;-->
<!--                        <div class="col-md-3 mb-30 single-gallery mix all person2">-->
<!--                            <div class="gallery-image-and-text">-->
<!--                                <img src="{{ url_for('static',filename='img/gallery/L1.jpg') }}" alt="" />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End single gallery &ndash;&gt;-->
<!--                        &lt;!&ndash; Start single gallery &ndash;&gt;-->
<!--                        <div class="col-md-3 mb-30 single-gallery mix all person2">-->
<!--                            <div class="gallery-image-and-text">-->
<!--                                <img src="{{ url_for('static',filename='img/gallery/L4.jpg') }}" alt="" />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End single gallery &ndash;&gt;-->

<!--                        &lt;!&ndash; Start single gallery &ndash;&gt;-->
<!--                        <div class="col-md-3 mb-30 single-gallery mix all person3">-->
<!--                            <div class="gallery-image-and-text">-->
<!--                                <img src="{{ url_for('static',filename='img/gallery/S2.jpg') }}" alt="" />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End single gallery &ndash;&gt;-->
<!--                        &lt;!&ndash; Start single gallery &ndash;&gt;-->
<!--                        <div class="col-md-3 mb-30 single-gallery mix all person3">-->
<!--                            <div class="gallery-image-and-text">-->
<!--                                <img src="{{ url_for('static',filename='img/gallery/S4.jpg') }}" alt="" />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End single gallery &ndash;&gt;-->

<!--                        &lt;!&ndash; Start single gallery &ndash;&gt;-->
<!--                        <div class="col-md-3 mb-30 single-gallery mix all person4">-->
<!--                            <div class="gallery-image-and-text">-->
<!--                                <img src="{{ url_for('static',filename='img/gallery/M4.jpg') }} " alt="" height="200px"/>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End single gallery &ndash;&gt;-->
<!--                        &lt;!&ndash; Start single gallery &ndash;&gt;-->
<!--                        <div class="col-md-3 mb-30 single-gallery mix all person4 ">-->
<!--                            <div class="gallery-image-and-text">-->
<!--                                <img src="{{ url_for('static',filename='img/gallery/M3.jpg') }}" alt="" />-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; End single gallery &ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </section>-->
            
{% endblock %}